@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    display: flex;
    margin: 0;
    height: 95vh;
    align-items: center;
    justify-content: center;
}